<ion-header no-border>
    <ion-navbar color="primary">
      <ion-title>Guia RGA</ion-title>
      <ion-buttons left>
        <button ion-button icon-only>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="ribbon"></ion-icon>
          <span style="font-size: 11px">Promoções</span>
        </button>
        <button ion-button icon-only>
          <ion-icon name="calendar"></ion-icon>
          <span style="font-size: 10px">Eventos</span>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content style="background-color: #f0f5f5">
    <ion-card *ngFor="let ad of ads" (click)="onAdClick(ad)">
      <div style="max-height: 100px">
        <img [src]="ad.homeImageUrl" [alt]="ad.name">
      </div>
      <ion-item text-wrap>
        <p>{{ad.text}}</p>
        <ion-icon name="ribbon" item-right style="color: goldenrod"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card *ngFor="let event of events" (click)="onAdClick(event)">
        <div style="max-height: 100px">
          <img [src]="event.homeImageUrl" [alt]="event.name">
        </div>
        <ion-item text-wrap>
          <p>{{event.text}}</p>
          <ion-icon name="calendar" item-right color="secondary"></ion-icon>
        </ion-item>
      </ion-card>
  </ion-content>