<ion-header no-border>
  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onInput($event)" placeholder="Buscar" showCancelButton="true"></ion-searchbar>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-list padding-right *ngIf="items.length > 0">
    <button ion-item *ngFor="let item of items" (click)="onItemClick(item)">
      <h2>{{item.name}}</h2>
      <h3>{{item.address}}</h3>
      <p>{{item.phoneList.join(", ")}}</p>
    </button>
  </ion-list>
  <hr *ngIf="items.length > 0" >
  <ion-list inset>
    <button ion-item *ngFor="let category of categories">
      <ion-icon [name]="category.icon" item-left></ion-icon>
      {{category.name}}
    </button>
  </ion-list>

</ion-content>